html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;pointer-events:auto;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
#body{background-color:rgb(64,64,64);}
.pos{position:relative;margin-top:11px;}
.vis{display:block;}
.section{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-left:0;margin-top:0;}
.size{min-width:960px;width:960px;min-height:326px;}
.cont{pointer-events:auto;}
.para{padding-top:0;text-indent:0;margin-top:15.17pt;margin-bottom:-15.17pt;padding-right:0;text-align:center;}
.font{font-family:"Helvetica Neue", sans-serif;font-size:70.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(192,192,192);line-height:120.51pt;letter-spacing:normal;}
.font-2{font-family:"Helvetica Neue", sans-serif;font-size:70.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(19,227,22);line-height:120.51pt;letter-spacing:normal;}
.font-3{font-family:"Helvetica Neue", sans-serif;font-size:70.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(38,139,210);line-height:120.51pt;letter-spacing:normal;}
.pos-3{position:relative;margin-left:182px;margin-top:30px;}
.size-2{min-width:600px;width:600px;min-height:214px;}
.colwrapper{line-height:0;}
.cont-3{z-index:2;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;margin-top:10.11pt;margin-bottom:-10.11pt;padding-right:0;text-align:left;}
.font-4{font-family:"Helvetica Neue", sans-serif;font-size:48.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(192,192,192);line-height:80.17pt;letter-spacing:normal;}
.font-5{font-family:"Helvetica Neue", sans-serif;font-size:48.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(19,227,22);line-height:80.17pt;letter-spacing:normal;}
.pos-4{position:relative;margin-left:488px;margin-top:-41px;}
.size-3{min-width:80px;width:80px;min-height:21px;}
.cont-4{z-index:3;pointer-events:auto;}
.button{border:0;border-radius:4px;background-color:rgb(19,227,22);}
.button:hover{background-color:rgb(130,147,158);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.button:active{background-color:rgb(82,100,111);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.vis-3{display:inline-block;overflow:hidden;outline:0;}
.size-4{width:80px;height:18px;}
.font-6{font-family:"Helvetica Neue", sans-serif;font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:10.74pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:3px;margin-top:0;margin-bottom:0;}
.pos-6{position:relative;margin-left:182px;margin-top:107px;}
.cont-5{z-index:4;pointer-events:auto;}
.font-7{font-family:"Helvetica Neue", sans-serif;font-size:48.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(38,139,210);line-height:80.17pt;letter-spacing:normal;}
.pos-7{position:relative;margin-left:306px;margin-top:-77px;}
.size-5{min-width:252px;width:252px;min-height:68px;}
.cont-6{z-index:5;pointer-events:auto;}
.para-3{padding-top:0;text-indent:0;margin-top:5.97pt;margin-bottom:-5.97pt;padding-right:0;text-align:left;}
.font-8{font-family:"Helvetica Neue", sans-serif;font-size:27.75pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:47.44pt;letter-spacing:normal;}
.pos-8{position:relative;margin-left:200px;margin-top:335px;}
.size-6{min-width:540px;width:540px;min-height:180px;}
.cont-7{z-index:6;pointer-events:auto;}
.para-4{padding-top:0;text-indent:0;margin-top:7.27pt;margin-bottom:-7.27pt;padding-right:0;text-align:left;}
.font-9{font-family:"Helvetica Neue", sans-serif;font-size:34.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:57.62pt;letter-spacing:normal;}
.para-5{padding-top:0;text-indent:0;margin-top:7.42pt;margin-bottom:-7.42pt;padding-right:0;text-align:center;}
.font-10{font-family:"Helvetica Neue", sans-serif;font-size:34.50pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:58.97pt;letter-spacing:normal;}
.font-11{font-family:"Helvetica Neue", sans-serif;font-size:34.50pt;font-weight:700;font-style:normal;text-decoration:underline;color:rgb(0,0,0);line-height:58.97pt;letter-spacing:normal;}
.menu-content {
	cursor: pointer;
	position: relative;
}

li {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.pos-9{position:relative;margin-top:19px;}
.pos-10{position:relative;margin-left:70px;margin-top:0;}
.size-7{min-width:800px;width:800px;min-height:3566px;}
.size-8{min-width:800px;width:800px;min-height:483px;}
.cont-8{z-index:1;pointer-events:auto;}
.para-6{padding-top:0;text-indent:0;margin-top:11.14pt;margin-bottom:-11.14pt;padding-right:0;text-align:center;}
.font-12{font-family:"Helvetica Neue", sans-serif;font-size:51.75pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(19,227,22);line-height:88.46pt;letter-spacing:normal;}
.vis-4{display:inline-block;vertical-align:top;overflow:visible;}
.pos-11{position:relative;margin-left:330px;margin-top:-218px;}
.size-9{min-width:215px;width:215px;min-height:19px;height:19px;}
.vis-5{display:inline-block;vertical-align:top;}
.menu{padding:0px 0px 0px 0px;}
.menu-link{outline:0;}
.menu-content-vis{display:inline-block;}
.size-10{min-width:215px;width:215px;min-height:19px;}
.cont-9{pointer-events:none;border:0;border-radius:4px;background-color:rgb(19,227,22);}
.para-7{padding-top:0;text-indent:0;margin-top:0.54pt;margin-bottom:-0.54pt;padding-right:0;text-align:center;}
.font-13{font-family:Lato;font-size:9.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:11.88pt;letter-spacing:normal;}
.pos-12{position:relative;margin-left:116px;margin-top:-149px;}
.size-11{min-width:600px;width:600px;min-height:3232px;}
.size-12{min-width:600px;width:600px;min-height:3092px;}
.para-8{padding-top:0;text-indent:0;margin-top:6.46pt;margin-bottom:-6.46pt;padding-right:0;text-align:center;}
.font-14{font-family:"Helvetica Neue", sans-serif;font-size:30.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(19,227,22);line-height:51.28pt;letter-spacing:normal;}
.font-15{font-family:"Helvetica Neue", sans-serif;font-size:30.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(19,227,22);line-height:50.11pt;letter-spacing:normal;}
.font-16{font-family:"Helvetica Neue", sans-serif;font-size:30.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(192,192,192);line-height:50.11pt;letter-spacing:normal;}
.para-9{padding-top:0;text-indent:0;margin-top:6.32pt;margin-bottom:-6.32pt;padding-right:0;text-align:center;}
.font-17{font-family:"Helvetica Neue", sans-serif;font-size:30.00pt;font-weight:400;font-style:italic;text-decoration:none;color:rgb(192,192,192);line-height:50.32pt;letter-spacing:normal;}
.font-18{font-family:"Helvetica Neue", sans-serif;font-size:30.00pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(192,192,192);line-height:51.28pt;letter-spacing:normal;}
.para-10{padding-top:0;text-indent:0;margin-top:4.03pt;margin-bottom:-4.03pt;padding-right:0;text-align:center;}
.font-19{font-family:"Helvetica Neue", sans-serif;font-size:18.75pt;font-weight:700;font-style:italic;text-decoration:none;color:rgb(19,227,22);line-height:32.05pt;letter-spacing:normal;}
.pos-13{position:relative;margin-left:228px;margin-top:-2675px;}
.size-13{min-width:152px;width:152px;min-height:59px;}
.button-2{border:0;border-radius:9px;background-color:rgb(19,227,22);}
.button-2:hover{background-color:rgb(130,147,158);border-color:rgb(0,0,0);color:rgb(0,0,0);}
.button-2:active{background-color:rgb(82,100,111);border-color:rgb(0,0,0);color:rgb(255,255,255);}
.size-14{width:152px;height:42px;}
.font-20{font-family:"Helvetica Neue", sans-serif;font-size:14.25pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(0,0,0);line-height:17.40pt;letter-spacing:normal;text-indent:0;text-align:center;padding-top:17px;margin-top:0;margin-bottom:0;}
.pos-14{position:relative;margin-left:24px;margin-top:-40px;}
.menu-device{background-color:rgb(0,0,0);display:none;}
